<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.liantao.lbook.mapper.SaleMapper">
    <select id="getAllSalesInvoice" resultType="cn.liantao.lbook.entity.SalesInvoice">
        SELECT *
        FROM salesInvoice
    </select>
    <select id="getSalesInvoiceFromAccount" resultType="cn.liantao.lbook.entity.SalesInvoice">
        SELECT *
        FROM salesInvoice
        WHERE account = #{account}
    </select>
    <select id="getSalesInvoiceBetweenTime" resultType="cn.liantao.lbook.entity.SalesInvoice">
        SELECT *
        FROM salesInvoice
        WHERE date BETWEEN #{time1} AND #{time2}
    </select>
</mapper>
