<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.liantao.lbook.mapper.UserMapper">
    <select id="getUser" resultType="cn.liantao.lbook.entity.User">
        SELECT *
        FROM user
        WHERE account = #{account}
    </select>
    <select id="addUser">
        INSERT INTO user (account,password,username,isManager,mail,money,allowed)
        VALUES (#{account},#{password},#{username},#{isManager},#{mail},#{money},#{allowed});
    </select>
</mapper>
