<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.liantao.lbook.mapper.BookMapper">
    <select id="getBook" resultType="cn.liantao.lbook.entity.Book">
        SELECT *
        FROM book
        WHERE isbn = #{isbn}
    </select>
    <select id="getBooks" resultType="cn.liantao.lbook.entity.Book">
        SELECT *
        FROM book
    </select>
    <select id="addBook" parameterType="cn.liantao.lbook.entity.Book">
        INSERT INTO book(name, author, stock, price, year, isbn, pages,outline,cover)
        VALUES(#{name}, #{author}, #{stock}, #{price}, #{year}, #{isbn}, #{pages},#{outline},#{cover})
    </select>
    <select id="deleteBook" >
        DELETE FROM book WHERE isbn = #{isbn}
    </select>
    <select id="searchBooks" resultType="cn.liantao.lbook.entity.Book">
        SELECT *
        FROM book
        WHERE name like #{filter} or author like #{filter}
    </select>
</mapper>
